/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .editor-styles-wrapper .web-vitals dl {
	margin: 0;
}
.wp-block web-vitals {
	display: inline-block;
	width: 200px;
	height: 150px;
	background-color: #eee;
}
